<div class="container text-center">

  <p id="notice"><%= notice %></p>

  <%= image_tag "background.jpg", alt: "background", width: 400 %>
  <ul class="list-unstyled cards">
    <% @cocktails.each do |cocktail| %>
      <div class="row text-center card">
        <div class="col-xs-12 col-sm-4">
        <li>
          <h3>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>

          </h3>
        </li>
        </div>
      </div>
    <% end %>
  </ul>

  <br>

  <%= link_to 'Add new cocktail', new_cocktail_path, class: "btn btn-link" %>
</div>
