<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>
    Name: <strong><%= @dose.description %></strong>
  </h3>

  <hr>
  <%= link_to 'Back', cocktails_path, class: "btn btn-info" %>
</div>
