.body-background {
  background-image: url("./../images/background.png");
  background-size: cover;
  width: 100vh;
}

.banner {
  position: relative;
  background-color: #23B5AF;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  color: #FFFFFF;
}

.banner .text {
  position: absolute;
  margin-top: 100px;
  margin-left: 40px;
}

.diamond {
  position: absolute;
  background-color: rgba(0,0,0,.1);
  width: 60%;
  height: 200px;
  right: 0;
  -moz-transition: width 2s;
  -o-transition: width 2s;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.diamond:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: -100px;
  border-right: 100px solid rgba(0,0,0,.1);
  border-bottom: 100px solid rgba(0,0,0,0);
}

.diamond div:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: -100px;
  border-right: 100px solid rgba(0,0,0,.1);
  border-top: 100px solid rgba(0,0,0,0);
}

.banner:hover .diamond {
  width: 25%;
}
