.card {
  display: flex;
  background-color: lightblue;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  width: 300px;
    h3 {
      padding: 10px 10px;
      text-align: center;
      position: relative;

    }
  }

.cards {
  background-image: url('./app/assets/images/background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
